<html>
<head>
<title>Web Pixels</title>
</head>
<body>
<form method="POST" action="pixel/all">
  All:
  <input type="color" name="color" value="{{ all }}" />
  <input type="submit" />
</form>
<form method="POST" action="pixels">
  {% for fixture, color in fixtures %}
  {{ fixture }}:
  <input type="color" name="color_{{ fixture }}" value="{{ color }}" />
  {% endfor %}
  <input type="submit" />
</form>
<form method="POST" action="pixels">
  {% for pixel, color in pixels %}
  {{ pixel }}:
  <input type="color" name="color_{{ pixel }}" value="{{ color }}" />
  {% endfor %}
  <input type="submit" />
</form>
</body>
</html>
