<html>
<head>
<title>Web Pixels</title>
<script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<form method="POST" action="pixel/all">
  All:
  <input class="rgb" id="all" type="color" name="color" value="{{ all }}" />
  <input type="submit" value="Apply" />
</form>
<form method="POST" action="pixels">
  {% for fixture, color in fixtures %}
  <a href="/pixel/{{ fixture }}">{{ fixture }}</a>:
  <input class="rgb" id="{{ fixture }}" type="color" name="color_{{ fixture }}" value="{{ color }}" />
  {% endfor %}
  <input type="submit" value="Apply" />
</form>
<form method="POST" action="pixels">
  {% for pixel, color in pixels %}
  <a href="/pixel/{{ pixel }}">{{ pixel }}</a>:
  <input class="rgb" id="{{ pixel }}" type="color" name="color_{{ pixel }}" value="{{ color }}" />
  {% endfor %}
  <input type="submit" value="Apply" />
</form>
<form method="POST">
  Preset:
  <select name="preset">
    {% for preset in presets %}
      <option value="{{ preset }}"{% if preset == last_preset %} selected{% endif %}>{{ preset }}</option>
    {% endfor %}
  </select>
  <input type="submit" formaction="preset/apply" value="Apply" />
  <input type="submit" formaction="preset/delete" value="Delete" />
</form>
<form method="POST" action="preset/save">
  <input type="text" name="preset" />
  <input type="submit" value="Save Preset" />
</form>
</body>
</html>
