{% extends "layout.html" %}
{% set active_page = "pixel" %}
{% block body %}
<div class="row">
   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">{{ pixel }}</h3>
         </div>
         <div class="panel-body">
            <form action="/pixel/{{ pixel }}" method="POST">
               <input type="color" name="color" value="{{ color }}" />
               <input type="submit" value="Apply" />
            </form>
         </div>
      </div>
   </div>

   {% if channels %}
   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Channels</h3>
         </div>
         <div class="panel-body">
            <form action="/channels" method="POST">
               {% for channel, value in channels %}
               <input type="range" min="0" max="255" name="{{ channel }}" value="{{ value }}" />
               <a href="/channel/{{ channel }}">{{ channel }}</a><br />
               {% endfor %}
               <p><input type="submit" value="Apply" /></p>
            </form>
         </div>
      </div>
   </div>
   {% endif %}

   {% if subpixels %}
   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Subpixels</h3>
         </div>
         <div class="panel-body">
            <form action="/pixels" method="POST">
               {% for pixel, color in subpixels %}
               <input type="color" name="color_{{ pixel }}" value="{{ color }}" /></li>
               <a href="/pixel/{{ pixel }}">{{ pixel }}</a><br />
               {% endfor %}
               <p><input type="submit" value="Apply" /></p>
            </form>
         </div>
      </div>
   </div>
   {% endif %}
{% endblock %}
