{% extends "layout.html" %}
{% set active_page = "pixel" %}
{% block body %}
<div class="row pixel" id="{{ pixel }}">
   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Preview</h3>
         </div>
         <div class="panel-body">
            <div class="preview-box">
               <div class="preview" id="preview"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">RGB</h3>
         </div>
         <div class="panel-body">
            <form role="form">
               <div class="form-group">
                   <input type="range" min="0" max="255" value="{{ r }}" id="r" />
               </div>
               <div class="form-group">
                   <input type="range" min="0" max="255" value="{{ g }}" id="g" />
               </div>
               <div class="form-group">
                   <input type="range" min="0" max="255" value="{{ b }}" id="b" />
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">HSL</h3>
         </div>
         <div class="panel-body">
            <form role="form">
               <div class="form-group">
                   <input type="range" min="0" max="360" value="0" id="h" />
               </div>
               <div class="form-group">
                   <input type="range" min="0" max="100" value="0" id="s" />
               </div>
               <div class="form-group">
                   <input type="range" min="0" max="100" value="0" id="l" />
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
